
.header__container {
  border: solid 2px black;
  margin-bottom: 10px;
}

.header {
  background-color: aqua;
  text-align: center;
}

.main__container {
  border: solid 2px black;
}

.main {
  background-color: lightseagreen;
  text-align: center;
}

.footer {
  background-color: lightcoral;
  text-align: center;
}